@import './scss/slides.css';
@import './scss/form.css';
.App {
  text-align: center;
}

.spinner-container{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  /* background: linear-gradient(147.21deg, #EEECFF -8.91%, #FFFFFF 99.17%); */
  background: transparent;
  min-height: 100vh;
}

:root{
  --primaryFont:CircularStd,sans-serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.toolbar{
  width: 100%;
  background:transparent;
  color: rgba(243, 240, 240, 0.5) !important;

}
.appbar{
  position: fixed !important;
  height: 10%;
  padding: 20px;
  z-index: 4;
  color: #fff !important;
  display: flex;
  z-index: 1300;
  flex-direction: row;
  justify-content: space-between;
width: 100%;
}
.appbar:hover{
  z-index: 4500000 !important;
}
.logo{
  color:#fff;
  font-size:27px !important;
  font-weight: 500;
  /* z-index:10; */
  margin-left: 0 !important;
  font-family:var(--primaryFont);
  border-block: 2px solid #fff !important;
  border-color: #fff;
}
.menu:hover{
color: #fff !important;
}


.logo, .menu{
  z-index: 0.99;
}
.logo:hover{
  color: #fff !important;
}

.headerCards{
  width:100%;
  display:flex;
  justify-content:space-around;
  align-items:flex-start;
  flex-direction:row;
  color:#325774;
}
.itemcontainer{
  position: relative;
  width: 25%;
  }
.cards{
  width: 25%;
  height: 150px;
  display:flex;
  /* padding: theme.spacing.unit, */
  font-family:var(--primaryFont);
  color:var(--primaryColor);
  align-items:center;
  justify-content:center;
  flex-direction: column;
  text-transform: uppercase;
  border-bottom:3px solid var(--primaryColor);
    text-align: 'center';
    cursor: pointer;
    letter-spacing: 2px;
}
.current{
  border-bottom:3px solid #f1fcf1; 
}
title{
  color:var(--primaryColor);
  letter-spacing:1;
  padding:20px;
}
