.form-container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    justify-content: center !important;
}

.formWrapper{
    align-content: center;
    /* transform: translate(-50%, -50%); */
}

.icon-div{
position:fixed;
top:10px;
right:10px;
cursor:pointer;
z-index:10000000 !important;
}

.iconButton{
z-index: 10000;
}
.icon{
    z-index: 10000000 !important;
    /* box-shadow:0 3px 10px 0 rgba(0,0,0,.08); */
}
.MuiPaper-root-126{
    background-color: transparent;
}
.formHeader{

}